
<div class="modal fade" id="video-player-modal" ng-controller="videoPlayerController" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog full-screen">
        <div class="modal-content" ng-init="init()">
        
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{params.video.title}}</h4>
            </div>
        
            <div class="modal-body">
               <video class="modal-video" controls="" autoplay="" name="media"><source src="" type="video/mp4"></video>
            </div>
        </div>
    </div>
</div>