
<div>
	
	<!-- <form>
	 	<input type="text" name="userName" ng-model="name" placeholder="..." />
		<button> click </button>
  			<h1> Hello {{name}}</h1> 
	</form> -->
	<div class="row">
        <div id="slideContainer">
            <div class="thumbnail">
                <img src="http://lugo.cloudapp.net:40000/mci/dist/img/avatar.png" alt="..."/>
                <div class="caption">
                    <h3>
                        Thumbnail label
                    </h3>
                    <p>
                        ...
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">
                            Button
                        </a>
                        <a href="#" class="btn btn-default" role="button">
                            Button
                        </a>
                    </p>
                </div>
            </div>
            <div class="thumbnail">
                <img src="http://lugo.cloudapp.net:40000/mci/dist/img/avatar.png" alt="..."/>
                <div class="caption">
                    <h3>
                        Thumbnail label
                    </h3>
                    <p>
                        ...
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">
                            Button
                        </a>
                        <a href="#" class="btn btn-default" role="button">
                            Button
                        </a>
                    </p>
                </div>
            </div>
            <div class="thumbnail">
                <img src="http://lugo.cloudapp.net:40000/mci/dist/img/avatar.png" alt="..."/>
                <div class="caption">
                    <h3>
                        Thumbnail label
                    </h3>
                    <p>
                        ...
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">
                            Button
                        </a>
                        <a href="#" class="btn btn-default" role="button">
                            Button
                        </a>
                    </p>
                </div>
            </div>
            <div class="thumbnail">
                <img src="http://lugo.cloudapp.net:40000/mci/dist/img/avatar.png" alt="..."/>
                <div class="caption">
                    <h3>
                        Thumbnail label
                    </h3>
                    <p>
                        ...
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">
                            Button
                        </a>
                        <a href="#" class="btn btn-default" role="button">
                            Button
                        </a>
                    </p>
                </div>
            </div>
            <div class="thumbnail">
                <img src="http://lugo.cloudapp.net:40000/mci/dist/img/avatar.png" alt="..."/>
                <div class="caption">
                    <h3>
                        Thumbnail label
                    </h3>
                    <p>
                        ...
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">
                            Button
                        </a>
                        <a href="#" class="btn btn-default" role="button">
                            Button
                        </a>
                    </p>
                </div>
            </div>
            <div class="thumbnail">
                <img src="http://lugo.cloudapp.net:40000/mci/dist/img/avatar.png" alt="..."/>
                <div class="caption">
                    <h3>
                        Thumbnail label
                    </h3>
                    <p>
                        ...
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">
                            Button
                        </a>
                        <a href="#" class="btn btn-default" role="button">
                            Button
                        </a>
                    </p>
                </div>
            </div>
            <div class="thumbnail">
                <img src="http://lugo.cloudapp.net:40000/mci/dist/img/avatar.png" alt="..."/>
                <div class="caption">
                    <h3>
                        Thumbnail label
                    </h3>
                    <p>
                        ...
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">
                            Button
                        </a>
                        <a href="#" class="btn btn-default" role="button">
                            Button
                        </a>
                    </p>
                </div>
            </div>
            <div class="thumbnail">
                <img src="http://lugo.cloudapp.net:40000/mci/dist/img/avatar.png" alt="..."/>
                <div class="caption">
                    <h3>
                        Thumbnail label
                    </h3>
                    <p>
                        ...
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">
                            Button
                        </a>
                        <a href="#" class="btn btn-default" role="button">
                            Button
                        </a>
                    </p>
                </div>
            </div>
            <div class="thumbnail">
                <img src="http://lugo.cloudapp.net:40000/mci/dist/img/avatar.png" alt="..."/>
                <div class="caption">
                    <h3>
                        Thumbnail label
                    </h3>
                    <p>
                        ...
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">
                            Button
                        </a>
                        <a href="#" class="btn btn-default" role="button">
                            Button
                        </a>
                    </p>
                </div>
            </div>
            <div class="thumbnail">
                <img src="http://lugo.cloudapp.net:40000/mci/dist/img/avatar.png" alt="..."/>
                <div class="caption">
                    <h3>
                        Thumbnail label
                    </h3>
                    <p>
                        ...
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">
                            Button
                        </a>
                        <a href="#" class="btn btn-default" role="button">
                            Button
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>