
<div id="user-video-history-container" ng-controller="videoHistoryController" style="padding:30px; display: none">
 	<div class="row">
        <div class="col-md-12">    
            <a class="btn btn-info" style="margin-bottom:30px;float: right" href="#" ng-click="backToMain()">
                <i class="fa fa-arrow-circle-o-left fa-lg"></i>&nbsp;
                Back
            </a>
            <div class="clearfix"></div>
            <ul class="timeline" id="user-video-history-list">   

                <li class="time-label">
                    <span class="bg-aqua">
                        19 Feb. 2016
                    </span>
                </li>                                
                <li>
                    <i class="fa fa-envelope bg-blue"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 15:05</span>
                        <h3 class="timeline-header">Added <a href="#">Post</a> Test</h3>
                        <div class="timeline-body">
                              <b>Heading </b> Description goes here.                                           
                        </div>
                        <div class='timeline-footer'>
                            <a class="btn btn-default btn-xs btn-flat">Read more</a>
                            <a class="btn btn-danger btn-xs btn-flat">Delete</a>
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fa fa-bookmark bg-aqua"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 13:21</span>
                        <h3 class="timeline-header no-border">Bookmarked post regarding drone <a href="#"> ( drone rules )</a></h3>
                        <div class='timeline-footer'>
                            <a class="btn btn-default btn-xs btn-flat">Read more</a>
                            <a class="btn btn-danger btn-xs btn-flat">Delete</a>
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fa fa-user bg-yellow"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 12:10</span>
                        <h3 class="timeline-header">Uploaded captured entity cards excel file</h3>
                    <div class='timeline-footer'>
                        <a class="btn btn-default btn-xs btn-flat">Download</a>
                        <a class="btn btn-danger btn-xs btn-flat">Delete</a>
                    </div>
                    </div>
                </li>

                <li class="time-label">
                    <span class="bg-aqua">
                        18 Jan. 2016
                    </span>
                </li>
                <li>
                    <i class="fa fa-user-secret bg-purple"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 14:33</span>
                        <h3 class="timeline-header"><a href="#">Yan Skorobog</a> - avatar activities screen captures</h3>
                        <div class="timeline-body">
                            <img src="http://lorempixel.com/214/317/?t=9" alt="..." class='small-thumbnail' />
                            <img src="http://lorempixel.com/214/317/?t=9" alt="..." class='small-thumbnail' />
                            <img src="http://lorempixel.com/214/317/?t=9" alt="..." class='small-thumbnail' />
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fa fa-video-camera bg-maroon"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 09:28</span>
                        <h3 class="timeline-header">Bookmarked <a href="#">Youtube</a> video - "Mass protest against Singapore Population"</h3>
                        <div class="timeline-body">
                            <!-- <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Yxm-bYfaInc" frameborder="0" allowfullscreen></iframe>                        
                            </div> -->
                        </div>
                        <div class='timeline-footer'>
                            <a class="btn btn-default btn-xs btn-flat">Read more</a>
                            <a class="btn btn-danger btn-xs btn-flat">Delete</a>
                        </div>
                    </div>
                </li>

                <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                </li>
            </ul>
        </div>
    </div>  
</div>   