
<div ng-controller="videoController" >
	
	<!-- <form>
	 	<input type="text" name="userName" ng-model="name" placeholder="..." />
		<button> click </button>
  			<h1> Hello {{name}}</h1> 
	</form> -->
	<div class="row" ng-init="init()">
        <div id="slideContainer">
            <a class="btn btn-warning navigation left" ng-click="scroll('LEFT')" href="#" role="button" style=""> 
                <i class="fa fa-angle-left fa-2x arrow"></i> 
            </a> 
            <div ng-repeat="video in params.videos" track-by="video.id" ng-attr-id="{{ 'vid_' + video.id}}" ng-model="video" class="thumbnail">
                <img src="{{video.imgUrl}}" alt="..."/>
                <div class="caption">
                    <h4>
                        {{video.name}}
                    </h4>
                    <p>
                       <!--  {{video.description}} -->
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">
                            Button
                        </a>
                        <a href="#" class="btn btn-default" role="button">
                            Button
                        </a>
                    </p>
                </div>
            </div>  
            <a class="btn btn-warning navigation right" ng-click="scroll('RIGHT')" href="#" role="button" style=""> 
                <i class="fa fa-angle-right fa-2x arrow"></i> 
            </a>  
        </div>
    </div>
</div>